body {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #e77878;
    border: 1px solid transparent;
    border-radius: 100px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

::selection {
    background: #4560F060;
}

html {
    display: block;
}

.text-blue {
    color: #4949d8;
}

.project-item p {
    width: 400px;
}

.project-item {
    width: 400px;
}

.card {
    padding: 10px;
}

.redemins {
    position: relative;
}

.card-body {
    position: relative;
}

#smp-btn {
    display: block;
    margin: 0 auto;
}

@media screen and (min-width:1288px) {
    .redemins {
        position: relative;
        left: 950px;
    }

    .card-body-x-right {
        position: relative;
        left: -300px;
        /* width: 300px; */
    }
}

@media screen and (min-width:1300px) {
    #smp-btn {
        margin: 0px 565px;
        margin-top: 20px;
    }
}

#b-slider {
    width: 400px;
}

.s-img {
    opacity: 0.5;
}

@media screen and (min-width:1300px) {
    #b-slider {
        position: relative;
        left: 470px;
        top: 5px;
    }
}

.portfolio-item {
    padding: 10px;
    transition: 0.3s;
    text-align: center;
}

.portfolio-item:hover {
    transition: 0.3s;
    margin-top: -3px;
}

.btn-group {
    padding: 10px;
}

.circle {
    width: 20px;
    height: 2px;
    border: 1px solid transparent;
    cursor: pointer;
}

#slider-1 {
    display: none;
}

#slider-2 {
    display: none;
}

#slider-3 {
    display: none;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transition: 0.3s;
    margin-top: -3px;
}

#slider-change {
    display: none;
}

.hide {
    opacity: 0;
    /* left: -100%; */
}

.show {
    opacity: 1;
    /* left: 0; */
}

.internship {
    z-index: 1;
    transition: all 1s;
}

#projects {
    z-index: 1;
    transition: all 1s;
}

#slider-1 {
    z-index: 1;
    display: none;
    transition: all 1s;
    opacity: 1;
}

#slider-2 {
    z-index: 1;
    opacity: 1;
    display: none;
    transition: all 1s;
}

#slider-3 {
    z-index: 1;
    opacity: 1;
    display: none;
    transition: all 1s;
}

.slider-1 {
    display: block;
    animation: slidchan 2s 1;
}

@keyframes slidchan {
    0% {
        opacity: 0;
        position: relative;
        left: -100%;
    }
}

#experience {
    z-index: 1;
    transition: all 1s;
}

#achievements {
    z-index: 1;
    transition: all 1s;
}

#skills {
    z-index: 1;
    transition: all 1s;
}

body {
    overflow-x: hidden;
}

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    border: 1px solid transparent;
    right: 20px;
    z-index: 99;
    outline: none;
    border-radius: 100%;
    transition: all 1s;
    /* z-index: 1; */
}

#smpb {
    display: block;
}

#hp12kfmr {
    display: none;
}

#left-align-css .card {
    margin: 0 5px;
    border-radius: 100px;
}

#left-align-css .card:hover {
    margin-top: -5px;
}

body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin: 25px;
    transition: 0.85s;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #8696AD;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

::selection {
    background: #4560F060;
}

html {
    display: block;
}

h2 {
    display: inline-block;
    background: linear-gradient(93.05deg, #EF9797 3.98%, rgba(206, 126, 199, 0.801616) 35.29%, #A364D6 68.78%,
            #A1D0F9 97.44%);
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    color: #8696AD;
}

h4 {
    display: inline-block;
    background: linear-gradient(93.05deg, #f89898 3.98%, rgba(253, 141, 244, 0.802) 35.29%, #b273e6 68.78%,
            #A1D0F9 97.44%);
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h5 {
    color: #8696AD;
}

h1 {
    display: inline-block;
    background: linear-gradient(93.05deg, #EF9797 3.98%, rgba(206, 126, 199, 0.801616) 35.29%, #A364D6 68.78%,
            #A1D0F9 97.44%);
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
}

h6 {
    color: #8696AD;
}

.btn {
    padding: 10px;
}

p {
    color: #8696AD;
}

#dd-m li a:hover {
    transition: 0.85s;
    background: black;
}

#dd-m li a {
    transition: 0.85s;
}

.custom-color-not-b {
    display: inline-block;
    background: linear-gradient(93.05deg, #EF9797 3.98%, rgba(206, 126, 199, 0.801616) 35.29%, #A364D6 68.78%,
            #A1D0F9 97.44%);
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input[type=text] {
    background: #37393E;
}

textarea[type=text] {
    background: #37393E;
}

.random-red {
    background: linear-gradient(93.05deg, #EF9797 3.98%, rgba(206, 126, 199, 0.801616) 35.29%, #A364D6 68.78%,
            #A1D0F9 97.44%);
}

body {
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin: 25px;
    transition: 0.85s;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #8696AD;
}

body::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

::selection {
    background: #4560F060;
}

html {
    display: block;
}

h2 {
    display: inline-block;
    background: linear-gradient(93.05deg, #EF9797 3.98%, rgba(206, 126, 199, 0.801616) 35.29%, #A364D6 68.78%,
            #A1D0F9 97.44%);
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    color: #8696AD;
}

h4 {
    display: inline-block;
    background: linear-gradient(93.05deg, #f89898 3.98%, rgba(253, 141, 244, 0.802) 35.29%, #b273e6 68.78%,
            #A1D0F9 97.44%);
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h5 {
    display: inline-block;
    background: linear-gradient(93.05deg, #EF9797 3.98%, rgba(206, 126, 199, 0.801616) 35.29%, #A364D6 68.78%,
            #A1D0F9 97.44%);
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

h1 {
    display: inline-block;
    background: linear-gradient(93.05deg, #EF9797 3.98%, rgba(206, 126, 199, 0.801616) 35.29%, #A364D6 68.78%,
            #A1D0F9 97.44%);
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
}

h6 {
    color: #8696AD;
}

.btn {
    padding: 10px;
}

p {
    color: #8696AD;
}

#dd-m li a:hover {
    transition: 0.85s;
    background: black;
    color: white;
}

#dd-m li a {
    transition: 0.85s;
    color: white;
}

.custom-color-not-b {
    display: inline-block;
    background: linear-gradient(93.05deg, #EF9797 3.98%, rgba(206, 126, 199, 0.801616) 35.29%, #A364D6 68.78%,
            #A1D0F9 97.44%);
    width: fit-content;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input[type=text] {
    background: #37393E;
}

textarea[type=text] {
    background: #37393E;
}

.random-red {
    background: linear-gradient(93.05deg, #EF9797 3.98%, rgba(206, 126, 199, 0.801616) 35.29%, #A364D6 68.78%,
            #A1D0F9 97.44%);
}

li {
    color: #8696AD;
}