body {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #e77878;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

::selection {
    background: #4560F060;
}

html {
    display: block;
}

.text-blue {
    color: #4949d8;
}